<div class="app-card-container">
  <div class="card">
    <h2>Would you like to work together?</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 contact">
        <h5>Office Address</h5>

        <p>A 188 A, Prime city Indore, India </p>
        <h5>Phone</h5>
        <p><%= number_to_phone "+918962161817" %></p>
        <h5>Email</h5>
        <p><a href="mailto:rahuldwivediips@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>

      </div>
      <div class="col-md-6 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.6256368263878!2d75.87078222579323!3d22.7560543962539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39630299c655e83d%3A0x631f6d635973cf73!2sPrime+City%2C+Sukhlia%2C+Indore%2C+Madhya+Pradesh+452011!5e0!3m2!1sen!2sin!4v1539370580284" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>